:root {
   --bs-border-color: #999;
}

@media print {
   nav {display: none;}
   .h1, h1 {font-size: 1.9rem;}
   .h2, h2 {font-size: 1.5rem;}
   body {-webkit-print-color-adjust: exact;print-color-adjust: exact;}
   h2.d-md-flex {display: flex!important;}
   h2>.border-md-end-1 {
      border-right: 1px var(--bs-border-style) var(--bs-border-color)!important;
  }
  .row>.col-auto>.input-group>.form-control {max-width: 130px;}
}

.navbar-expand-lg .navbar-nav {
   flex-direction: row;
   column-gap: 20px;
}

body {
   background-color: #fff;
}

.nm-3 {
   margin-left: -15px !important;
   margin-right: -15px !important;
}

.nmt-1 {
   margin-top: -1px !important;
}

.nmb-1 {
   margin-bottom: -1px !important;
}

@media (min-width: 992px) {
   .nmt-lg-1 {
      margin-top: -1px !important;
   }
}

.labels-mt-1 label {
   margin-top: 5px;
}

.clean-input-group {
   align-items: flex-end;
   column-gap: 10px;
}

.clean-input-group .input-group-text, .clean-input-group .form-control {
   border-radius: 0;
   border: 0 none;
   padding: 0;
}

.clean-input-group .form-control {
   border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.clean-input-group .form-control:focus {
   border-color: transparent;
   box-shadow: none;
   border-bottom: var(--bs-border-width) solid #000;
}

#oasis-e-form img {
   max-width: 100%;
}

#oasis-e-form p:last-child {
   margin-bottom: 0;
}

#oasis-e-form .form-fields-wrapper {
   border: 2px solid var(--bs-border-color);
   border-radius: 15px;
   overflow: hidden;
}

#oasis-e-form .table td {
   padding-left: 1rem;
   padding-right: 1rem;
}

@media (max-width: 991px) {
   #oasis-e-form .table td[data-title]::before {
      content: attr(data-title);
      display: block;
      font-weight: 700;
      text-align: center;
   }
   #oasis-e-form .input-group-block-lg .form-control {
      width: 100%;
   }
}

#oasis-e-form .table td>.d-block {
   margin: 5px 0;
}

#oasis-e-form .table td>.d-block .form-check-input,
#oasis-e-form td table td .form-check-input {
   margin-right: 5px;
}

#oasis-e-form .table:not(.default-td)>:not(caption)>*>* {
   background-color: transparent;
   padding: 1rem;
}

#oasis-e-form h3 {
   font-size: 1.4em;
   font-weight: 700;
}

#oasis-e-form h4 {
   font-weight: 700;
   margin: 0;
   font-size: 1.2em;
}

#oasis-e-form h5 {
   font-size: 1em;
   font-weight: 700;
}

#oasis-e-form table h5 {
   margin: 0;
}

#oasis-e-form label.form-check-label {
   font-weight: 500;
}

#oasis-e-form .labels-group label {
   margin-right: 10px;
}

@media (max-width: 991px) {
   #oasis-e-form .labels-group {
      margin-top: 5px;
   }
}

#oasis-e-form td table {
   margin: 0;
}

@media (max-width: 1199px) {
   #oasis-e-form td table:not(.default-td) td {
      display: block;
      padding-left: 0;
      padding-right: 0;
   }

   #oasis-e-form td table.table-bordered td {
      display: table-cell;
   }

   #oasis-e-form td table.stack-padding td {
      padding-left: 10px;
      padding-right: 10px;
   }
}

@media (max-width: 991px) {
   #oasis-e-form table:not(.not-responsive) td {
      display: block;
   }

   .mt-md-2 {
      margin-top: 10px !important;
   }
}

@media (min-width: 992px) {
   .border-lg-end-2 {
      border-right: 2px var(--bs-border-style) var(--bs-border-color)!important;
   }
}

@media (min-width: 768px) {
   .border-md-end-2 {
      border-right: 2px var(--bs-border-style) var(--bs-border-color)!important;
   }
   .border-md-end-1 {
      border-right: 1px var(--bs-border-style) var(--bs-border-color)!important;
   }
   .border-md-end-1 {
      border-right: 1px var(--bs-border-style) var(--bs-border-color)!important;
   }
}

.form-holder h2>span {
   padding: 5px 15px;
}

@media (max-width: 767px) {
   .form-holder h2>span {
      display: block;
   }
}

@media (max-width: 767px) {
   #oasis-e-form .table-responsive {
      max-width: calc(540px - var(--bs-gutter-x));
   }
}

@media (max-width: 575px) {
   #oasis-e-form .table-responsive {
      max-width: calc(100vw - var(--bs-gutter-x));
   }
}